[DEFAULT]

# how many seconds host will be banned
bantime  = {{ fail2ban_bantime }}

# ban if host generates 'maxretry' attempts during last 'findtime' seconds
findtime = {{ fail2ban_findtime }}
maxretry = {{ fail2ban_maxretry }}

# action to take for banning, which should refer to one of the predefined
# values in jail.conf
action = {{ fail2ban_action }}

{% if fail2ban_email is defined %}
destemail = {{ fail2ban_email }}
{% endif %}

{% if fail2ban_sender is defined %}
sender = {{ fail2ban_sender }}
{% endif %}

{% if fail2ban_banaction is defined %}
banaction = {{ fail2ban_banaction }}
{% endif %}

{% if fail2ban_usedns is defined %}
usedns = {% if fail2ban_usedns %}true{% else %}false{% endif %}
{% endif %}

{% if fail2ban_enabled is defined %}
{% for section in fail2ban_enabled %}
[{{section}}]
enabled = true

{% endfor %}
{% endif %}

{% if fail2ban_ssh_repeater %}
[ssh-repeater]
enabled  = true
filter   = sshd
action   = iptables-repeater[name=ssh]
            %(mta)s-whois[name=%(__name__)s, dest="%(destemail)s", sendername="%(sendername)s"]
logpath  = /var/log/auth.log
maxretry = {{ 3 * fail2ban_maxretry }}
findtime = 31536000
bantime  = 31536000
{% endif %}
